node_modules
dist
data
*.db
*.db-journal
*.db-shm
*.db-wal
.env
/tmp
*.log
terminals
bom.json
trivy-*.sarif
results.sarif
build/
forge-*.tar.gz
forge-*.zip
forge-*.sha256
forge-*.sha512
forge-*.cdx.json
license.txt
license-priv.pem
license-pub.pem
*-priv.pem
